[submodule "libdbuslog"]
	path = src/libdbuslog
	url = https://github.com/monich/libdbuslog.git
[submodule "libglibutil"]
	path = src/libglibutil
	url = https://github.com/monich/libglibutil.git
[submodule "harbour-lib"]
	path = src/harbour-lib
	url = https://github.com/monich/harbour-lib.git
[submodule "libdbusaccess"]
	path = src/libdbusaccess
	url = https://github.com/monich/libdbusaccess.git
