[submodule "src/libdbuslog"]
	path = src/libdbuslog
	url = https://git.merproject.org/mer-core/libdbuslog.git
[submodule "src/libglibutil"]
	path = src/libglibutil
	url = https://git.merproject.org/mer-core/libglibutil.git
[submodule "harbour-lib"]
	path = src/harbour-lib
	url = https://github.com/monich/harbour-lib.git
